[Unit]
Description=Refresh downloaded CLImate images
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=%h/.local/bin/climate sync
ExecStart=%h/.local/bin/climate pull --update
